

/*body document height is 616px and width is 929.6px*/

#pp-canvas {
  position: relative;
  border: 1px solid magenta;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  
}

#canvas {
  
  background-color: pink;
  width: 400px;
  height: 400px; /*each small square is 40x40 px*/
  position: absolute;
  top: 50px;
  right: 0;
}

#color-swatch {
  border: 3px solid black;
  background-color: cyan;
  width: 125px;
  height: 300px;
  position: absolute;
  top: 50px;
}

#eraseBtn {
  
  border-radius: 5px;
  background-color: orange;
  width: 80px;
  height: 25px;
  position: absolute;
  top: 365px;
  left: 22.5px;
  font-family: 'Baloo Tammudu', cursive;
  text-align: center;
}

#clearBtn {
  
  border-radius: 5px;
  background-color: orange;
  width: 80px;
  height: 25px;
  position: absolute;
  top: 400px;
  left: 22.5px;
  font-family: 'Baloo Tammudu', cursive;
  text-align: center;
}