#pp-canvas {
  position: relative;
  border: 1px solid magenta;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  cursor: pointer;
}

#currentColorDisplay {
  position: absolute;
  top: 0;
  width: 120px;
  height: 30px;
  border: 5px solid brown;
  border-radius: 5px;
  background-color: null;
  font-size: 25px;
  font-family: 'Baloo Tammudu', cursive;
  text-align: left;
}

#currentColorSquare {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 3px;
}

#canvas { /*this is the main canvas grid containing 10x10 squares*/
  background-color: pink;
  border: 5px solid black;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50px;
  right: 0;
  cursor: pointer;
}

/*this has 10x10 copies of it and is contained within 'canvas'*/
.smallSquare {
  border: 1px solid black;
  width: 38px;
  height: 38px; /*to account for a 1px border we -2 from H&W*/
  float: right;
  transition-property: background-color;
  transition-duration: 0.7s;
}

#color-swatch {
  border: 5px solid black;
  border-radius: 5px;
  background-color: cyan;
  width: 120px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 0;
  cursor: crosshair;
}

.pallete {
  border: 1px solid black;
  width: 18px;
  height: 18px;
  float: left;
}

#eraseBtn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: orange;
  width: 80px;
  height: 25px;
  position: absolute;
  top: 365px;
  left: 22.5px;
  font-family: 'Baloo Tammudu', cursive;
  text-align: center;
  cursor: pointer;
}

#clearBtn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: orange;
  width: 80px;
  height: 25px;
  position: absolute;
  top: 400px;
  left: 22.5px;
  font-family: 'Baloo Tammudu', cursive;
  text-align: center;
  cursor: pointer;
}